.container {
    background-color: #ecf2fa;
    text-align: center;
}

.article-container {
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

/*AllArticles | BestArt*/
.blog {
    box-shadow: 10px 20px 15px rgb(174, 174, 174);
    border-radius: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 250px;
    margin: 50px 25px 0px 25px;
    background-color: white;
    cursor: pointer;
}


.blog-bestArt {
    box-shadow: 10px 20px 15px rgb(174, 174, 174);
    border-radius: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 300px;
    margin: -100px 25px 150px 25px;
    background-color: white;
}

.read{
    transition: .0s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
}



.link {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
}

.blog:hover .read, .blog-bestArt:hover .read  {
    opacity: 1;
}

.blog:hover, .blog-bestArt:hover {
    transform: scale(1.1);
}

.post:hover img, .post:hover p, .post:hover h3 {
    opacity: 0.7;
}

.post img {
    width: 100%;
    height: 170px;
}

.post h3 {
    min-height: 70px;
}

.description {
    overflow: hidden;
    max-height: 110px;
    min-height: 110px;
    padding: 0 20px 0 20px;
}

.author {
    float: left;
    font-size: 14px;
    font-style: italic;
    padding-left: 20px;
}

.date {
    float: right;
    font-size: 14px;
    font-style: italic;
    padding-right: 20px;
}

/* BestArt*/

.hero {
    width: 80%;
    float: left;
    box-shadow: 50px 50px 1px #13253d;

}

.authorimg {
    width: 17%;
    padding: 10px;
    margin-left: -115px;
    margin-top: 130px;
    position: absolute;
}



/*Article*/

.header img {
    width: 100%;
    z-index: -1;
}

.article {
    background-color: white;
    width: 70%;
    margin-left: 5%;
    margin-top: -15%;
    position: relative;
    padding: 35px;
    border-right: 3px solid #13253d;
    z-index: 1;
    object-fit: contain;
}

h1 {
    text-align: left;
    width: 70%;
}

.date-article {
    font-style: italic;
    margin-top: 20px;
}

.author-container {
    width: 20%;
    position: absolute;
    margin-left: 75%;
    margin-top: -32%;
    z-index: 2;
}

.author-container img {
    width: 100%;
    box-shadow: 30px 30px 1px #13253d;
}

.author-container a {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.overlay a:hover {
    color: #4a90e2;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #ecf2fa;
}

.author-container:hover .overlay {
    opacity: 1;
}

.moreAboutAuthor {
    margin-top: 50px;
    background-color: white;
    padding: 30px;
}

.moreAboutAuthor img {
    width: 100%;
    border-top: 20px solid #13253d;
    border-right: 20px solid #13253d;
}

.pictures{
    width: 20%;
}

.text {
    text-align: center;
    width: 50%;
}

.text p {
    padding-left: 30px;
    padding-right: 30px;
}

img .img-fluid.lazyload {
    width: 20px;
}

/*AdditionalArt */

.lengthArt {
    width: 100%;
    margin-top: 50px;
}

.lengthArt table, .lengthArt td {
    height: 100px;
    border: 2px solid black;
}

/* .content p{
    text-overflow: ellipsis;
} */

/* .additional-pictures img{
    width: 10%;
} */

.additional-text {
    width: 70%;
    padding-left: 30px;
    padding-right: 30px;
}

.additional-hero img {
    width: 50px;
    position: absolute;
}

.additional-author img {
    width: 50px;
    position: absolute;
}

/* .additional-author {
    position: absolute;
    width: 5px;
} */